In [4]:
# European Cities Temperature Clustering with the T-SNE algorithm

In [6]:
## Dataset: Average Monthly Temperatures for Several Cities around Europe
### Sourced: http://factominer.free.fr/course/MOOC.html

In [7]:
### Motivation: The above resource by F. Husson shows that using simple PCA 
### analysis will discrimate cities by average temperature PC1 and by 
### amplitude (hottest temp- coldest temp) PC2 (which is obvious when
### you think about it).  
### A more sophisticated algorithm may  a) find less obvious patterns and b)
### better disciminate amplitude so as to help with clustering.

In [ ]:
## Required output: 
## - Cluster number for each city
## - Line chart visualizations each city in facet chart.

In [11]:
# Imports
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sb

In [45]:
# Read in Data

df = pd.read_csv ( 'Input Data/data_clustering_Temperature.csv', sep=';')
df.head ()

,Unnamed: 0,January,February,March,April,May,June,July,August,September,October,November,December,Annual,Amplitude,Latitude,Longitude,Area
0,Amsterdam,2.9,2.5,5.7,8.2,12.5,14.8,17.1,17.1,14.5,11.4,7.0,4.4,9.9,14.6,52.2,4.5,West
1,Athens,9.1,9.7,11.7,15.4,20.1,24.5,27.4,27.2,23.8,19.2,14.6,11.0,17.8,18.3,37.6,23.5,South
2,Berlin,-0.2,0.1,4.4,8.2,13.8,16.0,18.3,18.0,14.4,10.0,4.2,1.2,9.1,18.5,52.3,13.2,West
3,Brussels,3.3,3.3,6.7,8.9,12.8,15.6,17.8,17.8,15.0,11.1,6.7,4.4,10.3,14.4,50.5,4.2,West
4,Budapest,-1.1,0.8,5.5,11.6,17.0,20.2,22.0,21.3,16.9,11.3,5.1,0.7,10.9,23.1,47.3,19.0,East

In [48]:
# Obtain some data to process..
df_train = df.drop(df.columns[[13,14,15,16,17]], axis=1, inplace=False)
df_train.head ()

,Unnamed: 0,January,February,March,April,May,June,July,August,September,October,November,December
0,Amsterdam,2.9,2.5,5.7,8.2,12.5,14.8,17.1,17.1,14.5,11.4,7.0,4.4
1,Athens,9.1,9.7,11.7,15.4,20.1,24.5,27.4,27.2,23.8,19.2,14.6,11.0
2,Berlin,-0.2,0.1,4.4,8.2,13.8,16.0,18.3,18.0,14.4,10.0,4.2,1.2
3,Brussels,3.3,3.3,6.7,8.9,12.8,15.6,17.8,17.8,15.0,11.1,6.7,4.4
4,Budapest,-1.1,0.8,5.5,11.6,17.0,20.2,22.0,21.3,16.9,11.3,5.1,0.7